.newsletter {
  background-color: var(--color-primary);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

@media screen and (min-width: 1000px) {
  .content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

}

.title {
  color: var(--white);
  font-size: var(--md);
  font-weight: 500;
  display: flex;
  gap: 10px;
  line-height: var(--md);
  align-items: center;
}

.icon {
  font-size: var(--xl);
}

.email {
  display: flex;
}

.email input {
  height: 41px;
  border-radius: 7px 0 0px 7px;
  border: 2px solid var(--color-primary);
  border-right-width: 0;
  width: 100%;
  padding: 0 30px;
  font-size: var(--md);
  font-family: 'DM Sans', sans-serif;
  color: #6c757d;
}

.email button {
  background-color: #333e48;
  padding: 0px 20px;
  border-radius: 0 7px 7px 0;
  border: 1px solid #333e48;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--white);
  align-items: center;
  display: flex;
  font-size: var(--md);
  font-family: 'DM Sans', sans-serif;
}

.email button:hover {
  background-color: var(--black);
  border: 1px solid var(--black);
}