.content {
  width: 85%;
}

.name {
  color: var(--white-gray);
  font-size: var(--md);
  font-weight: 700;
}

.uniprice {
  font-size: var(--md);
  color: var(--gray);
  display: flex;
  gap: 15px;
}

.price {
  color: var(--white-gray);
  font-size: var(--md);
  font-weight: 700;
}

.image {
  background-color: var(--white-gray);
  border-radius: var(--image-radius);
  min-width: 80px;
  max-width: 80px;
}