.filters {
  width: 19.5%;
}

.products {
  width: 80.5%;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-content: baseline;
  padding: 120px 0;
}

.product_card {
  border: 2px solid var(--background-color);
}

.product_active {
  border: 2px solid var(--color-primary);
  /* box-shadow: inset 0 0 0 2px var(--color-primary); */
}

@media (min-width: 700px) {
  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  .products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
